<div class="container-fluid">  
    <div class="row">
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/assumption.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/inputs.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/macrodrivers.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/consumptionimpact.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/shoppersandconsumers.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/consumptionimpactcovid.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/economicrecoverycurves.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-xl-4"> 
            <div class="card ">                
                <img src="assets/images/assumptions/covidwavepatterns.jpg" />
            </div>
        </div>
    </div>
</div>