dropzone {
    .dropzone{
         box-shadow: none !important;
    }
    > .dropzone {       
        &.dz-wrapper {
            .dz-message {
                border: 0px !important;
                background-color: transparent !important;
            }
        }
    }
    
}

.status_items {
    li {
        border-bottom: 1px solid #d0cfcf;
        padding: 1rem 0rem;
        
        .pulsating{
            margin-top:-22px;
        }
        
        .aborted{
            width: 42px;
            margin-top: -11px;
            margin-right: 14px;
        }
    }
}


.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


