<!-- footer start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 footer-copyright">
      <p class="m-t-20 mb-0">Copyright 2020 © R<sup>2</sup> Analytics All rights reserved.</p>
    </div>
    <div class="col-md-6">
      <p class="pull-right mb-0">
        <a href="https://www.rsquare-analytics.com/">
            <img class="img-100 align-self-center" src="assets/images/rsquare-logo.png" alt="rsquare-analytics">
          </a>  
      </p>
    </div>
    </div>
</div>